/*--------- Mixins ------------ */
/* -------------------Third party plugins support -----------------*/
.tp_recent_tweets li {
  background: none !important;
  padding-left: 0 !important; }

.tp_recent_tweets li a {
  color: #fe5000 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: normal !important; }

.teal .tp_recent_tweets li a {
  color: #28c2ba !important; }

.orange .tp_recent_tweets li a {
  color: #e25d33 !important; }

.cyan .tp_recent_tweets li a {
  color: #02accf !important; }

.tp_recent_tweets li a:hover {
  color: #55585b !important; }

#footer .tp_recent_tweets li a:hover {
  color: #e5e5e5 !important; }

.tp_recent_tweets li .twitter_time {
  padding: 15px 0 5px 45px;
  display: inline-block;
  background: url(../images/twitter-bird-sidebar.png) no-repeat 0 14px transparent; }

#footer .tp_recent_tweets li .twitter_time {
  background-image: url(../images/twitter-bird.png); }

/* Brankic Photostream styling */
.photostream ul li {
  margin: 0 0 5px 5px !important;
  padding: 0 0 5px 5px !important;
  background: none !important;
  border: none !important; }

.photostream img, .photostream a {
  width: 66px !important;
  height: 66px !important; }

.photostream img {
  opacity: 1 !important; }

.photostream a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

#footer .photostream a {
  border-color: #666 !important; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .tp_recent_tweets li .twitter_time {
    background-image: url(../images/twitter-bird-sidebar%402x.png);
    background-size: 32px 24px; }

  #footer .tp_recent_tweets li .twitter_time {
    background-image: url(../images/twitter-bird%402x.png);
    background-size: 32px 24px; } }
/* =========================================== The Events Calendar Plugin =================================================== */
/*--------- Mixins ------------ */
#tribe-events-pg-template {
  max-width: none; }
  @media only screen and (max-width: 767px) {
    #tribe-events-pg-template {
      padding: 0; } }

.tribe-events-list-separator-month {
  clear: both; }

.events-list .tribe-events-loop .type-tribe_events, .tribe-events-list .tribe-events-loop .type-tribe_events, .tribe-events-day .tribe-events-loop .type-tribe_events,
.single-tribe_venue .tribe-events-loop .type-tribe_events, .single-tribe_organizer .tribe-events-loop .type-tribe_events {
  float: left;
  padding: 30px 60px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    .events-list .tribe-events-loop .type-tribe_events, .tribe-events-list .tribe-events-loop .type-tribe_events, .tribe-events-day .tribe-events-loop .type-tribe_events,
    .single-tribe_venue .tribe-events-loop .type-tribe_events, .single-tribe_organizer .tribe-events-loop .type-tribe_events {
      padding: 30px 30px; } }
  @media only screen and (max-width: 767px) {
    .events-list .tribe-events-loop .type-tribe_events, .tribe-events-list .tribe-events-loop .type-tribe_events, .tribe-events-day .tribe-events-loop .type-tribe_events,
    .single-tribe_venue .tribe-events-loop .type-tribe_events, .single-tribe_organizer .tribe-events-loop .type-tribe_events {
      padding: 20px 0;
      width: 100%; } }

.events-list .tribe-events-loop .type-tribe_events:nth-of-type(2n+1), .tribe-events-list .tribe-events-loop .type-tribe_events:nth-of-type(2n+1),
.tribe-events-day .tribe-events-loop .type-tribe_events:nth-of-type(2n+1), .single-tribe_venue .tribe-events-loop .type-tribe_events:nth-of-type(2n+1),
.single-tribe_organizer .tribe-events-loop .type-tribe_events:nth-of-type(2n+1) {
  clear: left; }

.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop {
  max-width: none;
  margin: 0 auto; }

.tribe-events-list .tribe-events-event-image + div.tribe-events-content {
  float: none;
  width: 100%;
  margin-top: 20px; }

.tribe-events-list .tribe-events-event-image {
  float: none;
  width: 100%;
  margin-top: 20px; }

.tribe-events-list-separator-month + .vevent.hentry.tribe-events-first, .tribe-events-list .vevent.hentry.tribe-events-first {
  padding-top: 30px; }

.tribe-events-back {
  margin: 20px 0; }

#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-ical,
.single-tribe_events a.tribe-events-gcal {
  color: #b52335; }

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a,
#tribe_events_filters_wrapper input[type=submit], .tribe-events-button, #tribe-events .tribe-events-button, .tribe-events-button.tribe-inactive,
#tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover {
  background: #b52335; }

.single-tribe_events .tribe-events-venue-map, .tribe-events-venue .tribe-events-map-wrap {
  padding: 0;
  border: none; }

.single-tribe_events .tribe-events-schedule h3 {
  color: #888; }

.single-tribe_events h2.tribe-events-single-event-title {
  font-size: 42px;
  line-height: 52px; }
  @media only screen and (max-width: 1024px) {
    .single-tribe_events h2.tribe-events-single-event-title {
      font-size: 28px;
      line-height: 36px; } }
  @media only screen and (max-width: 767px) {
    .single-tribe_events h2.tribe-events-single-event-title {
      font-size: 24px;
      line-height: 32px; } }

.tribe-events-list h2.tribe-events-list-event-title, .tribe-events-list .vevent.hentry h2 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700; }

.tribe-events-day-time-slot {
  clear: both; }

.tribe-events-list h2.tribe-events-page-title {
  margin-top: 20px; }

.tribe-events-organizer .tribe-events-organizer-meta {
  max-width: 1000px; }

.tribe-events-countdown-widget div.tribe-countdown-text {
  font-family: "Lato", Arial, Helvetica, Verdana, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px; }
.tribe-events-countdown-widget .tribe-countdown-number {
  font-family: "Lato", Arial, Helvetica, Verdana, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  color: #666666; }

.tribe-events-adv-list-widget .vcard.location {
  font-size: 14px;
  line-height: 24px; }

.tribe-events-venue-widget .tribe-venue-widget-venue {
  margin-bottom: 15px; }
  .tribe-events-venue-widget .tribe-venue-widget-venue .tribe-venue-widget-venue-name a {
    font-family: "Lato", Arial, Helvetica, Verdana, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px; }

.tribe-events-adv-list-widget ol li, .tribe-events-venue-widget ul li {
  background: none;
  padding: 0;
  border: none;
  border-top: 1px solid #dedede;
  padding-top: 10px;
  margin-bottom: 15px; }
  .tribe-events-adv-list-widget ol li h4, .tribe-events-venue-widget ul li h4 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: 700; }
    .tribe-events-adv-list-widget ol li h4 a, .tribe-events-venue-widget ul li h4 a {
      color: #555; }
      .tribe-events-adv-list-widget ol li h4 a:hover, .tribe-events-venue-widget ul li h4 a:hover {
        color: #b52335; }
  .tribe-events-adv-list-widget ol li:hover, .tribe-events-venue-widget ul li:hover {
    padding-left: 0; }

.tribe-events-adv-list-widget .duration {
  font-weight: 400;
  font-size: 14px; }

/* Shortcode styling */
.upcoming-events-list {
  list-style-type: none;
  margin: 0 0 15px 0; }
  .upcoming-events-list li {
    margin-bottom: 15px; }
    .upcoming-events-list li:last-child {
      margin-bottom: 0; }
    .upcoming-events-list li h4 {
      text-transform: none;
      letter-spacing: 1px;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 0; }
      .upcoming-events-list li h4 a {
        color: #444;
        font-weight: 700;
        letter-spacing: 0; }
        .upcoming-events-list li h4 a:hover {
          color: #b52335; }
    .upcoming-events-list li .duration {
      font-size: 14px; }
  .upcoming-events-list.simple-list {
    margin: 0 0 20px 32px; }
    .upcoming-events-list.simple-list li {
      border-left: 1px solid #ddd; }
    .upcoming-events-list.simple-list li:before {
      color: #aaa;
      font-size: 44px; }
    .upcoming-events-list.simple-list > li {
      padding-left: 1em; }

/* =================================================== Revolution Slider =================================================== */
/*--------- Mixins ------------ */
.rev_slider_wrapper .tp-leftarrow.large {
  z-index: 100;
  cursor: pointer;
  position: relative;
  background: url(../images/large_left.png) no-repeat top left;
  width: 22px;
  height: 34px;
  margin-left: 20px;
  margin-top: -20px; }
.rev_slider_wrapper .tp-rightarrow.large {
  z-index: 100;
  cursor: pointer;
  position: relative;
  background: url(../images/large_right.png) no-repeat top left;
  width: 23px;
  height: 34px;
  margin-left: -20px;
  margin-top: -20px; }
.rev_slider_wrapper .tp-leftarrow:hover, .rev_slider_wrapper .tp-rightarrow:hover {
  background-position: bottom left; }

.video-js {
  background: none !important; }

.big_fitpro span {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px; }

.button.transparent {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  text-shadow: none; }

.button.transparent:hover {
  background: rgba(255, 255, 255, 0.1) !important;
  border-color: #f2f2f2 !important; }

/* ------------ Navigation styling ------------- */
.tp-bullets.simplebullets.round .bullet {
  background-image: url(../images/bullet_1.png); }

.tp-rightarrow.default, .tp-leftarrow.default {
  width: 60px !important;
  height: 60px !important; }

.tp-rightarrow.default {
  background-image: url(../images/large_right.png) !important; }
  .tp-rightarrow.default:before {
    content: ""; }

.tp-leftarrow.default {
  background-image: url(../images/large_left.png) !important; }
  .tp-leftarrow.default:before {
    content: ""; }

.rev_slider_wrapper .tp-leftarrow:hover, .rev_slider_wrapper .tp-rightarrow:hover {
  background-position: bottom left; }

@media only screen and (max-width: 767px) {
  .tp-bullets .bullet {
    display: none; }

  .tp-caption .button {
    padding: 5px 8px;
    font-size: 12px; } }
@media only screen and (max-width: 479px) {
  .tp-bullets {
    display: none; }

  .tp-caption .button {
    padding: 4px 6px;
    font-size: 11px; }

  .tparrows {
    display: none; } }
/* ========================================== Visual Composer Styles =============================================== */
/*--------- Mixins ------------ */
body {
  overflow-x: hidden; }

.boxed #container {
  overflow-x: hidden; }

.wpb_row, .wpb_content_element, .wpb_button {
  margin-bottom: 0; }

.vc_row {
  position: relative;
  padding: 90px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media only screen and (max-width: 1100px) {
    .vc_row {
      background-attachment: scroll !important;
      background-position: center center !important; } }
  @media only screen and (max-width: 767px) {
    .vc_row {
      padding: 60px 0; } }
  .vc_row.no-padding, .vc_row.vc_inner {
    padding: 0; }

.vc_row.zero-margin-row .vc_col-sm-12 {
  margin: 0; }

@media only screen and (max-width: 767px) {
  .wpb_column {
    margin: 0 0 25px 0; } }

.vc_row .flex-control-nav {
  bottom: 0; }

.vc_row .flex-control-nav li a {
  width: 15px;
  height: 15px; }
  .vc_row .flex-control-nav li a:hover, .vc_row .flex-control-nav li a.flex-active {
    background-color: #b52335; }

.vc_row.heading {
  padding-bottom: 0; }

#testimonials2.vc_row {
  padding: 190px 0; }

.vc_row.slogan {
  padding: 265px 0; }

.wpb_single_image.vc_align_center img {
  margin: 0 auto; }


